name: ToDo actions

on:
  push:
    branches: [ "main" ]

jobs:
  tsc:
    name: tsc
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - name: install node v20
      uses: actions/setup-node@v1
      with:
        node-version: 20
    - name: npm install
      run: npm install
    - name: tsc
      uses: icrawl/action-tsc@v1
